html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon{
  margin-left: 5%;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
 
}
.cont{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.fluit{
  transition-property: all;
    transition-duration: 0.4s;
}
.obli{
  color: red;
  font-size: 15px;
}

.btn-opcion{
  width: 100%;
}

.img{
  width: 300px;
}

.alinear{
  text-align: center;
}

.link_a{
  text-decoration: none;
}
